body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #809832;
    color: rgb(166, 218, 62);
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    align-items:self-end;
}

.navbar li {
    display: inline;
    margin-left:110px;
    
    
}

.navbar a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    
}
